{% extends "master.html.twig" %}

{% block title %}Internal Error{% endblock %}

{% block content %}    
    <div class="card">
  <div class="card-header">Internal Error</div>
   <img src="/images/code_ninja.png" style="width:100%; height:100%;">
  <div class="card-content">
    <div class="card-content-inner"></div>
     <p>Internal error occurred, we're very sorry.
    Our team of coding ninjas has been notified and is already working on the problem.</p>
  </div>
  <div class="card-footer"><a class="link external" href="/login">Go home</a></div>
</div>

{% endblock %}