{% extends "master.html.twig" %}



{% block content %}

    
    <div class="content-block">
    <a href="/stores/list" class="external button button-fill button-big color-cyan">Stores</a>
    </div>
   <div class="content-block">
    <a href="/products/list" class="external button button-fill button-big color-orange">Products</a>
    </div>  
     <div class="content-block">
    <a href="/price/list" class="external button button-fill button-big color-lightblue">Prices</a> 
    </div>
{% endblock %}



