{% extends "master.html.twig" %}

{% block title %}Not found{% endblock %}

{% block content %}    
     <div class="card">
  <div class="card-header">Not Found</div>
  <div class="card-content">
    <div class="card-content-inner"></div>
    <p>Not Found. Please return home.</p>
  </div>
  <div class="card-footer"><a class="link external" href="/login">Go home</a></div>
</div>
    
{% endblock %}