{# Warning: this template is for an email, not an html page! #}
<html>
    <body>
        <h1>Password reset request</h1>
        <p>You have requested a password reset.</p>
        <p>Click on <a href='{{url}}'>this link</a> to reset your password or paste the following URL into a web browser</p>
        <p>{{url}}</p>
    </body>
</html>
