{% extends "master.html.twig" %}
{% block title %}Password Reset Email Sent{% endblock %}
{% block content %}
    <div class='content-block'>
        <div class="card">
            <div class="card-header">Password Reset Email Sent</div>
            <div class="card-content">
                <div class="card-content-inner"> <p>Email with pass code was sent. Please allow a few minutes for it to arrive. 
                        If you can't find it, please check your Spam folder. The reset request will expire in 1 hour.</p></div>
            </div>
        </div> 

    </div>
{% endblock %}
