% extends "master.html.twig" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">Password Reset!</div>
        <div class="card-content">
            <div class="card-content-inner">Password successfully reset</div>
        </div>
        <div class="card-footer"><a class="link" href="/login">login</a></div>
    </div>
{% endblock %}