{% extends "master.html.twig" %}
{% block title %}Product Deleted{% endblock %}
{% block content %}
    
    <div class="card">
  <div class="card-content">
    <div class="card-content-inner">Product deleted successfully</div>
  </div>
         <div class="card-footer">
    <a href="/product/list" class="link">Go to list</a>
    <a href="/index" class="link">Home</a>
  </div>
</div>
    
    
    
 
    {% endblock %}