{% extends "master.html.twig" %}

{% block overlayTitle %}Register{% endblock %}

{% block headextra %}
 <script>
            $(document).ready(function() {
                $('input[name=email]').bind("propertychange change click keyup input paste", function() {
                    // AJAX request
                    var email = $('input[name=email]').val();
                    $('#isTaken').load('/isemailregistered/' + email);
                });
            });
        </script>
{% endblock %}

{% block content %}

    <form method="post">

<div class="list-block">
    <br>
  <ul>
    <!-- Text inputs -->
     <div class="item-content"><p><span id='isTaken'></span></p></div>
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">Name:</div>
          <div class="item-input">
            <input type="text" placeholder="Name" name="name">
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
           
          <div class="item-title label">E-mail</div>
          <div class="item-input">
            <input type="email" placeholder="E-mail" name="email">
          </div>
        </div>
      </div>
    </li>

        <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">Password</div>
          <div class="item-input">
            <input type="password" placeholder="Password" name="pass1">
          </div>
        </div>
      </div>
    </li>
    
         <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">Password</div>
          <div class="item-input">
            <input type="password" placeholder="Confirm Password" name="pass2">
          </div>
        </div>
      </div>
    </li>
    <li>
        <br>
        <div class="item-content">
             <div class="item-inner">
        <input type="submit" value="Register" class="button button-big button-fill color-blue"/>
             </div>
        </div>
    </li>
  </ul>
    
    </form>
    {% if errorList %}
        <br>
        <div class="item-content">
<ul>
    {% for error in errorList %}
        
    <li>{{error}}</li>
    {% endfor %}
    
</ul>
{% endif %}
    </div>
</div>
    
    
    
{% endblock %}
