{% extends "master.html.twig" %}
{% block title %}Store Deleted{% endblock %}
{% block content %}
    <div class="content-block-title">Store Deleted</div>
    <div class="card">
  <div class="card-content">
    <div class="card-content-inner">Store deleted successfully</div>
  </div>
         <div class="card-footer">
    <a href="/stores/list" class="link">Back to list</a>
    <a href="/index" class="link">Home</a>
  </div>
</div>
    
    
    
 
    {% endblock %}