{% extends "master.html.twig" %}
{% block title %}Store List{% endblock %}
{% block headextra %}
  
{% endblock %}
{% block searchbar %}
    <!-- Search Bar with "searchbar-init" class for auto initialization -->
    <form class="searchbar searchbar-init" data-search-list=".list-block-search" data-search-in=".item-title" data-found=".searchbar-found" data-not-found=".searchbar-not-found">
        <div class="searchbar-input">
            <input type="search" placeholder="Search">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>

    <div class="searchbar-overlay"></div>
    <div class="page-content">
        <div class="content-block searchbar-not-found">
            Nothing found
        </div>

        <div class="list-block list-block-search searchbar-found">
            <!-- List View -->
            <div class="content-block-title">Store List</div>
            <ul>               
                <div class="list-block">

                    {% for l in list %}
                        <li>
                            <a href="/stores/view/{{l.id}}" class="item-link item-content external">
                                <div class="item-media"><img style="max-width:44px;" src="{{l.logoPath}}"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">{{l.name}}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% else %}

                    {% endfor %}
                     <div class="appendBlock">
                  {# ajax appended list goes in here #}
                    </div>
                </div>
            </ul>
        </div>
        {# creates white space at bottom of screen #}
        <div class="content-block">&nbsp;</div>
    </div>

{% endblock %}


{% block content %}


{% endblock %}

{% block scriptextra %}
    <script>
        $('.page-content').bind('scroll', chk_scroll);
        var load = 0;
        var maxItems = ({{sc}});
        //combine original list and appended list
        var lastIndex = ($('ul .list-block li').length + $('.appendBlock li').length);
        function chk_scroll(e)
        {
            var elem = $(e.currentTarget);
            //user scrolled to bottom of screen
                if (elem[0].scrollHeight - elem.scrollTop() === elem.outerHeight()) {
                    //if the list is smaller than the database rows call AJAX
                     if (lastIndex < maxItems) {
                    load++;//load more rows

                    $.get('/storesList/' + load, function (data) {
                        //load more products
                        data = JSON.parse(data);
                        var storeText = "";
                        // add new products
                        for (var i = 0; i < data.length; i++) {
                            var store = data[i];
                            //add products to html list
                            storeText = '<li>\
                            <a href="/stores/view/' + store.id + '" class="item-link item-content external">\
                                <div class="item-media"><img style="max-width:44px;" src="' + store.logoPath + '"></div>\
                                <div class="item-inner">\
                                    <div class="item-title-row">\
                                        <div class="item-title">' + store.name + '</div>\
                                    </div>\
                                </div>\
                            </a>\
                        </li>';
                            $('.appendBlock').append(storeText);
                        }
                   lastIndex = $('ul .list-block li').length + $('appendBlock li').length;
                    });
                } else {
                    return; //do nothing
                }
                }
            
        }
    </script>
{% endblock %}